//
// Base
// ---------------------------------------------------------------------------

body,
html {
  padding: 0px;
  margin: 0px;
  font-family: $roboto;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: $text-color;
  height: 100%;
}

body {
  background: url('../img/overlay-background.png') center center no-repeat;
  background-size: cover;
}

a, 
input,
select,
textarea,
button {
  outline: 0;
  -webkit-appearance: none;
}